<!-- Card -->

<EditForm Model="Detection" div class="card shadow mb-4 ">

	<!-- Header -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<!-- Title -->
		<h6 class="m-0 font-weight-bold text-primary">Id: @Detection.Id</h6>
		<!-- Right-Side Dropdown (Ellipsis) -->
		<div class="dropdown no-arrow">
			<a class="dropdown-toggle" href="#"
			   role="button" id="dropdownMenuLink"
			   data-toggle="dropdown" aria-haspopup="true"
			   aria-expanded="false">
				<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
				 aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item"
				   href="#@ModalSpectrogramPanelId"
				   data-toggle="modal"
				   @onclick="(()=>InitializeModalPlayer())">View Spectrogram Details</a>
				<a class="dropdown-item"
				   href="#@ModalMapPanelId"
				   data-toggle="modal"
				   @onclick="(()=>InitializeModalMap())">View Map</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item"
				   href="#@ModalLinkId"
				   data-toggle="modal">Show Links</a>
			</div>
		</div>
	</div>

	<div class="card-body container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 order-lg-12">
				<!-- Card Spectrogram Image -->
				<div class="row">
					<div class="col-12 px-0">
						<img class="img-fluid"
							 id=@CardSpectrogramId
							 src=@Detection.SpectrogramUri />
						<div class="card-img-overlay p-0">
							<div id=@CardWaveformId class="d-block"></div>
						</div>
					</div>
				</div>
				<!-- Spectrogram Button and Timer -->
				<div class="row d-flex flex-row justify-content-between m-0 mt-2 col-12 px-0">
					<div class="px-0">
						<a class="" @onclick="@((()=>ToggleCardPlayer()))">
							<i id=@CardPlayButtonId class="fas fa-play-circle fa-3x"></i>
						</a>
					</div>
					<div class="px-0 text-gray-400 h5">
						<span id=@CardElapsedTimeId>0.00</span>&nbsp;/&nbsp;
						<span id=@CardDurationTimeId>00.00</span>
					</div>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 order-lg-0 mt-2 mt-sm-2 mt-md-2">
				<!-- Datetime & Location -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<p><i class="fas fa-clock pr-2"></i>@DateHelper.UTCToPDTFull(Detection.Timestamp)</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<p><i class="fas fa-map-marked-alt pr-2"></i>@Detection.Location?.Name</p>
					</div>
				</div>
				<!-- Count & Average Confidence -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<p><i class="fas fa-headphones-alt pr-2"></i>@DetectionCount</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<p><i class="fas fa-signal pr-2"></i>@AverageConfidence</p>
					</div>
				</div>

				@if (Detection.Reviewed)
				{
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<p><i class="fas fa-calendar-day pr-2"></i>@DateHelper.UTCToPDTFull(@Detection.Moderated)</p>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<p><i class="fas fa-user pr-2"></i>@EmailHelper.ExtractName(@Detection.Moderator)</p>
						</div>
					</div>
				}

				@if (IsEditable)
				{
					<!-- Detection Confirmed -->
					<div class="row">
						<div class="col-12 form-group">
							<label class="mb-0">Was there an SRKW call in this clip?</label>
							<div style="display: grid">
								@foreach (var option in optionList)
								{
									<label>
										<input type="radio"
											   name="found"
											   value="@option"
											   checked="@(Detection.Found.ToLower() == option.ToLower())"
											   id=@(Detection.Id + "-" + option)
											   @onchange="(() => SetFoundValue(option))" />
										@option
									</label>
								}
							</div>
						</div>
					</div>
					<!-- Tags -->
					<div class="row">
						<div class="col-12 form-group">
							<label>Tags</label>
							<div>
								<InputText class="form-control" placeholder="Add tags separated by commas or semicolons"
										   @bind-Value="@Detection.Tags" />

							</div>
						</div>
					</div>
					<!-- Comments -->
					<div class="row">
						<div class="col-12 form-group">
							<label>Comments</label>
							<div>
								<InputTextArea class="form-control"
											   placeholder="Add comments"
											   @bind-Value="@Detection.Comments" />

							</div>
						</div>
					</div>
				}
				else
				{
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p><i class="fas fa-fish pr-2"></i>@WasFound</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p><i class="fas fa-tags pr-2"></i>@Detection.Tags</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p><i class="fas fa-comment pr-2"></i>@Detection.Comments</p>
						</div>
					</div>
				}
			</div>
		</div>
	</div>

	<!-- Buttons -->
	<div class="card-footer">
		@if (IsEditable)
		{
			<AuthorizeView Policy="ModeratorRole">
				<Authorized Context="Auth">
					<button class="btn btn-primary"
							type="submit"
							@onclick="(() => SubmitUpdate())"
							disabled="@IsSubmitDisabled">
						Submit
					</button>
				</Authorized>
				<NotAuthorized Context="Auth">
					<a class="btn btn-primary" href="#"
					   data-toggle="modal"
					   data-target="#loginModal">Submit</a>
				</NotAuthorized>
			</AuthorizeView>
		}
		<a href="#@ModalSpectrogramPanelId"
		   role="button"
		   class="btn btn-outline-success"
		   data-toggle="modal"
		   @onclick="(()=>InitializeModalPlayer())"><i class="fas fa-wave-square pr-2" aria-hidden="true"></i>Details</a>

		<a href="#@ModalMapPanelId"
		   role="button"
		   class="btn btn-outline-info"
		   data-toggle="modal"
		   @onclick="(()=>InitializeModalMap())"><i class="fas fa-globe pr-2" aria-hidden="true"></i>Map</a>
	</div>
</EditForm>

<!-- Map Modal -->

<div class="modal fade" id=@ModalMapPanelId tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-full" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					@Detection.Location?.Name (@Detection.Location?.Latitude, @Detection.Location?.Longitude)
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body p-4" id="result">
				<div id=@BingMapId style="height:500px;width:100%;"> </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

<!-- Spectrogram Modal -->

<div class="modal fade" id="@ModalSpectrogramPanelId" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-full" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					@Detection.Id
				</h5>
				<button type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
						@onclick="@(() => KillPlayer())">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body p-4 container-fluid" id="result">
				<div class="row">
					<div class="col px-0">
						<img class="img-fluid"
							 id=@ModalSpectrogramId
							 src=@Detection.SpectrogramUri />
						<div class="card-img-overlay p-0">
							<div id=@ModalWaveformId class="d-block"></div>
						</div>
					</div>
				</div>
				<!-- Spectrogram Button and Timer -->
				<div class="row d-flex flex-row justify-content-between m-0 mt-2 px-0 clearfix">
					<div class="px-0 col">
						<a class="" @onclick="@(() => ToggleModalPlayer())">
							<i id=@ModalPlayButtonId class="fas fa-play-circle fa-3x"></i>
						</a>
					</div>
					<div class="px-0 col text-gray-400 h5 text-right">
						<span id=@ModalElapsedTimeId>0.00</span>&nbsp;/&nbsp;
						<span id=@ModalDurationTimeId>00.00</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button"
						class="btn btn-secondary"
						data-dismiss="modal"
						@onclick="@(() => KillPlayer())">
					OK
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Link Modal -->

<div class="modal fade" id=@ModalLinkId tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-full" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					Links
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body p-4" id="result">
				<div class="form-group">
					<label class="col-form-label-lg">Link to This Record:</label>
					<div>
						<a class="h5 text-break" data-dismiss="modal" href="@LinkUrl"
						   @onclick="@(async () => await ActivateLink(LinkUrl))">@LinkUrl</a>
					</div>
				</div>

				<div class="form-group">
					<label class="col-form-label-lg">Link to Audio File:</label>
					<div>
						<a class="h5 text-break" href="@Detection.AudioUri"
						   target="_blank">@Detection.AudioUri</a>
					</div>
				</div>

				<div class="form-group">
					<label class="col-form-label-lg">Link to Spectrogram:</label>
					<div>
						<a class="h5 text-break" href="@Detection.SpectrogramUri"
						   target="_blank">@Detection.SpectrogramUri</a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>